/# calculadora.py
/aula 2 Ia.py
/aula 2.py
/calc1 s 19.py
/class Pessoa {.py
/filmes.py
/ia 20.py
/idades.py
/numeros= [3, 6, 9, 12, -1, 15, 18].py
/par ou impar.py
/Untitled-1.py
/Untitled-2.py
/while 2.py
/while.py